name: Run Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout lively.next
        uses: actions/checkout@v3
        with:
          repository: LivelyKernel/lively.next
          ref: bc12a0778e4a02533265b3c3c859fed0dcc42dd2
      - run: pwd
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '18.12.1'
      - name: Install lively.next
        run: |
          chmod a+x ./install.sh
          ./install.sh
      - name: Checkout Project Repository
        uses: actions/checkout@v3
        with:
          path: projects/dd
      - name: Start livey.next
        run: |
          chmod a+x ./start.sh
          ./start.sh > /dev/null 2>&1 &
          # wait until server is guaranteed to be running
          sleep 30
      - name: Run CI Test Script 
        run:  node --dns-result-order ipv4first ./scripts/test.js dd
      - name: Create Summary
        run: cat summary.txt >> $GITHUB_STEP_SUMMARY
